@import "animation_library";

*{
    margin: 0;
    padding: 0;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;
}
.on{
    display: block !important;
}

.bg{
    color: red;
}
.basic, .special, .effect, .text{
    cursor: pointer;
    background:url(../images/bg_heritage_select.png) no-repeat 100% 50%;

}
.select{
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #666;
    width: 285px;
    height: 100%;
    padding-left:40px;
    z-index: 100;
    div{
        margin-top: 5%;
        color: #666;
        font-size: 20px;
    }
    li{
        margin-top: 7%;
        padding-left: 5%;
        font-size: 18px;
        cursor: pointer;
    }
    
}
.select__tit{
    font-size: 30px !important;
}
.sample-box{
    padding-left: 325px;
}
.main-tit{
    padding-top: 21%;
    text-align: center;
    font-size: 80px;
    color: #666;
    @include trackingIn(trackingIn, 0, 0, 1s, forwards, -.5em);
    font-weight: 800;
    display: none;
}
.fadeIn{
    position: relative;
    text-align: center;
    padding-top: 10%;
    display: none;
    img{
        @include fadeIn(fadein,0,0,1.5s,forwards,.5s);
    }
    .fadeIn__tit{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        img{
            @include fadeIn(fadein,0,0,1.5s,forwards,1s);
        }
    }
}

.fadeIn4,
.fadeIn2{
    padding-top: 5%;
    display: none;
    ul{        
        width: 490px;
        margin: auto;
        li{
            width: 242px;
            display: inline-block;
            img{
                width: 100%;
            }            
        }
    }
}
#img07-02{
    @include fadeIn(fadeinL,-100%,0,1s,forwards);
}
#img07-03{
    @include fadeIn(fadeinT, 0,-100%,1s,forwards);
}
#img07-04{
    @include fadeIn(fadeinB, 0,100%,1s,forwards);
}
#img07-05{
    @include fadeIn(fadeinR, 100%,0,1s,forwards);
}
#img07-06{
    @include fadeIn(fadeinL,-100%,0,1s,forwards);
}
#img07-07{
    @include fadeIn(fadeinR,100%,0,1s,forwards);
}
#img07-08{
    @include fadeIn(fadeinR,100%,0,1s,forwards,.5s);
}
#img07-09{
    @include fadeIn(fadeinL,-100%,0,1s,forwards,.5s);
}

.effect_hover{
    text-align: center;
    margin-top: 20%;
    display: none;
    h1{
        width: 200px;
        margin:0 auto 80px;
        @include rubberBand(band,1s,infinite);
    }
    ul li{
        display: inline-block;
        margin: 0 4%;
        cursor: pointer;
    }
}

#hover1:hover{
    @include spin(spin,1s,forwards);
}
#hover2:hover{
    @include flash(flash2,1s,forwards);
}
#hover3:hover{
    @include bounce(bounce,1s,forwards,-100%);
}
#hover4:hover{
    @include rubberBand(band1,1s,forwards);
}
.effect_infinite{
    text-align: center;
    margin-top: 20%;
    display: none;
    h1{
        width: 300px;
        margin:0 auto 80px;
    }
    ul li{
        display: inline-block;
        margin: 0 4%;
        cursor: pointer;
    }
}
#infinite1{
    @include spin(spin,1s,infinite);
}
#infinite2{
    @include flash(flash2,1s,infinite);
}
#infinite3{
    @include bounce(bounce,1s,infinite,-100%);
}
#infinite4{
    @include rubberBand(band,1s,infinite);
}

.popIn{
    width: 980px;
    padding-top: 100px;
    margin: auto;   
    display: none; 
    ul:first-child{
        margin-top: 50px;
        margin-right: 20px;
    }
    ul{
        float: left;
        margin: auto;
    }
}

#pop1{
    @include popIn(popLT,-100%,-100%,1s,forwards);
}
#pop2{
    @include popIn(popRB,100%,100%,1s,forwards);
}
#pop3{
    @include popIn(pop,0,0,1s,forwards);
}

.flip-txt{
    position: relative;
    text-align: center;
    padding-top: 30px;
    display: none;
    img{
        @include fadeIn(fadein, 0,0,1s,forwards);
    }
    ul{
        position: absolute;
        top: 80px;
        left: 350px;
        li{
            margin-bottom: 40px;
        }
    }
}

#flip1{
    @include flipInX(flipx,1s,forwards,.3s);
}
#flip2{
    @include flipInX(flipx,1s,forwards,.6s);
}
#flip3{
    @include flipInX(flipx,1s,forwards,.9s);
}

.flip-img{
    position: relative;
    width: 950px;
    margin: auto;
    display: none;
    div{
        position: absolute;
        top: 40px;
        left: 0;        
    }
        ul:nth-child(2) li+li{
            float: right;
        }
        li{
            display: inline-block;
        }
}
 .spinIn{
     @include spinIn(spinin,1s,forwards);
}

.flipInX{
    @include flipInX(flipx,1s,forwards,.2s);
}
.flipInX2{
    @include flipInX2(flipx2,1s,forwards,.4s);
}
.flipInY{
    @include flipInY(flipy,1s,forwards,.6s);
}
.flipInY2{
    @include flipInY2(flipy2,1s,forwards,.8s);
}
.pullUp{
    @include pullUp(pull,1s,forwards,1s);
}

.unfold_bounce{
    width: 700px;
    margin:200px auto 0;
    display: none;
    ul li{
        float: left;
        width: 50%;
        img{
            width: 100%;
        }
    }
}

#unfold{
    @include unfold(un,1s,forwards);
}
#bounce{
    @include bounceIn(bouncebounceIn,0,-1000px,1s,forwards);
}


.zoom{
    position: relative;
    text-align: center;
    padding-top: 10%;
    display: none;
    img{
        @include zoomIn(zoom1,0,0,1s,forwards);
    }
    .zoom__tit{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        img{
            @include zoomIn(zoom2,0,-1000px,1s,forwards,.5s);
        }
    }
}
.detail a,
.sample a{
    display: block;
}

.vanish{
    display: none;
    text-align: center;
    margin-top: 300px;
    @include vanishIn(vanish, 1s, forwards);
}
.trackingIn{
    display: none;
     h1{
        margin-top:300px;
        font-size: 150px; 
        text-align: center;  
        color: #666; 
        @include trackingIn(trackingIn, 0, 0, 1s, forwards, -.5em);
    }
}