@import "animation_library";

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    position: relative;
    overflow: hidden;
    nav{
        position: absolute;
        top: 0px;
        left: 120px;
        z-index: 1;
        @include fadeIn(fadein,0,0,1s,forwards,1s);        
        ul li{
            float: left;
            width: 100px;
            a{
                display: block;
                color: #fff;
                font-size: 40px;   
                text-decoration: underline;
            }
        }
    }
}

.main__banner{
    .main__bg{
        height: 900px;
        background: url(../images/bg4.jpg) 50% 0 no-repeat;
        background-size: 100%;
        @include ken_burns(Top, 1, 1.15, 20s, forwards,top);
    }
    .color__bar{
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #ffbbd0;
        width: 175px;
        height: 600px;
        z-index: 1;
        @include In(in_top,0,500px,.8s,forwards,.3s);
    }
    .main__tit{
        position: absolute;
        top: 380px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        color: #fff;
        .in__top1{
            font-size: 40px;
            margin-bottom: 20px;
            @include fadeIn(fadein_top,0,15px,1s,forwards, .8s);
        }
        .in__top2{
            font-size: 20px;
            font-weight: lighter;
            @include fadeIn(fadein_top,0,15px,1s,forwards, 1s);
        }
    }
}