
/*1. keyframes 설정*/

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

.banner01{
    @include keyframes(upDown){
    0%{opacity: 0;}
    100%{opacity: 1;}    
    }
    animation: upDown 1s forwards;
}

/*2-1. 가운데 정렬(block)*/

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner02-1{
    @include center-block();
}

/*2-2. 가운데 정렬(absolute)*/

@mixin center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.banner02-2{
    @include center-both();
}

/*3. font 설정*/
$base-font-size: 16px !default;

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    
      font-family: quote($font-name);
      src: url($file-name + '.eot');
      src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
           url($file-name + '.woff') format('woff'),
           url($file-name + '.ttf')  format('truetype'),
           url($file-name + '.svg##{$font-name}')  format('svg');
      font-weight: $weight;
      font-style: $style;
    }

.banner03{
    @include font-face('gulim', '/fonts/gulim');
}

/*04. font-size 설정*/

$base-font-size: 16px !default;
@mixin font-size($size) {
    font-size: $size;
    font-size: ($size / $base-font-size) * 1rem;
  }

  .banner04{    
    @include font-size(10px);
}