
/*1. 가운데 정렬(block)*/

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.banner02-1{
    @include center-block();
}

/*2. 가운데 정렬(absolute)*/

@mixin center-both {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.banner02-2{
    @include center-both();
}

/*3. font 설정*/

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    
      font-family: quote($font-name);
      src: url($file-name + '.eot');
      src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
           url($file-name + '.woff') format('woff'),
           url($file-name + '.ttf')  format('truetype'),
           url($file-name + '.svg##{$font-name}')  format('svg');
      font-weight: $weight;
      font-style: $style;
    }

.banner03{
    @include font-face('gulim', '/fonts/gulim');
}

/*4. font-size 설정*/

$base-font-size: 16px !default;
@mixin font-size($size) {
    font-size: $size;
    font-size: ($size / $base-font-size) * 1rem;
  }

  .banner04{    
    @include font-size(10px);
}

/*5. 미디어쿼리 설정*/

@mixin mquery($width, $ratio: false) {
    @if $ratio {
        @media
            only screen and (max-width: $width) and  (min--moz-device-pixel-ratio: $ratio),
            only screen and (max-width: $width) and  (-webkit-min-device-pixel-ratio: $ratio),
            only screen and (max-width: $width) and  (min-device-pixel-ratio: $ratio) {
            @content;
        }
    } @else {
        @media only screen and (max-width: $width) {
            @content;
        }
    }
}

.banner05{
    @include mquery(767px){width: 100%;}
}

/*6. Position 설정*/

@mixin position($type, $top: null, $right: null, $bottom: null, $left: null) {
    position: $type;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

.banner06{
    @include position(absolute,$top:0, $left:0, $right:0)
}

/*7. Width, Height 설정*/

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

.banner07{
    @include size(300px);
}

/*8. keyframes 설정*/

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

.banner01{
    @include keyframes(upDown){
    0%{opacity: 0;}
    100%{opacity: 1;}    
    }
    animation: upDown 1s forwards;
}


/*9. Animationt설정 및 Keyframes fade 설정*/


@mixin ani_fade($ani_name, $fade-0, $fade-50, $fade-100, $ani_time, $ani_repetitions) {

    @keyframes #{$ani_name}{
    0% {
      opacity:$fade-0;
    }
    50% {
       opacity:$fade-50;
    }
    100% {
        opacity:$fade-100;
      }
  }
  animation: $ani_name $ani_time $ani_repetitions;
}

.banner08{    
    @include ani_fade(fade,1, 0, 1,1s,infinite);
}

