* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  overflow: hidden;
}

.container nav {
  position: absolute;
  top: 0px;
  left: 120px;
  z-index: 1;
  -webkit-animation: fadein 1s forwards;
          animation: fadein 1s forwards;
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
  opacity: 0;
}

@-webkit-keyframes fadein {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.container nav ul li {
  float: left;
  width: 100px;
}

.container nav ul li a {
  display: block;
  color: #fff;
  font-size: 40px;
  text-decoration: underline;
}

.main__banner .main__bg {
  width: 65%;
  overflow: hidden;
  float: left;
}

.main__banner .main__bg1 {
  height: 900px;
  background: url(../images/bg7.jpg) 50% 0 no-repeat;
  background-size: cover;
  -webkit-animation: Top 20s forwards ease-out;
          animation: Top 20s forwards ease-out;
  -webkit-animation-delay: !important;
          animation-delay: !important;
}

@-webkit-keyframes Top {
  0% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes Top {
  0% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.main__banner .main__bg2 {
  width: 35%;
  height: 900px;
  float: right;
  background-color: #ffa4b4;
}

.main__banner .main__tit {
  position: absolute;
  overflow: hidden;
  width: 1000px;
  top: 70px;
  right: 50px;
  color: #fff;
}

.main__banner .main__tit h1 {
  font-size: 80px;
  color: #a41515;
  -webkit-animation: fadein_left 1s forwards;
          animation: fadein_left 1s forwards;
  -webkit-animation-delay: 0.3s !important;
          animation-delay: 0.3s !important;
  opacity: 0;
}

@-webkit-keyframes fadein_left {
  0% {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadein_left {
  0% {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.main__banner .main__tit .main__tit__txt {
  width: 300px;
  margin-top: 120px;
  margin-left: 450px;
}

.main__banner .main__tit .main__tit__txt .txt1 {
  font-size: 20px;
  font-weight: lighter;
}

.main__banner .main__tit .main__tit__txt .in__top1 {
  -webkit-animation: fadein_top 1s forwards;
          animation: fadein_top 1s forwards;
  -webkit-animation-delay: 0.7s !important;
          animation-delay: 0.7s !important;
  opacity: 0;
}

@-webkit-keyframes fadein_top {
  0% {
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadein_top {
  0% {
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.main__banner .main__tit .main__tit__txt .in__top2 {
  -webkit-animation: fadein_top 1s forwards;
          animation: fadein_top 1s forwards;
  -webkit-animation-delay: 0.9s !important;
          animation-delay: 0.9s !important;
  opacity: 0;
}

@keyframes fadein_top {
  0% {
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.main__banner .sub__img {
  position: absolute;
  bottom: 140px;
  right: 430px;
  -webkit-animation: fadein_top 1s forwards;
          animation: fadein_top 1s forwards;
  -webkit-animation-delay: 1.1s !important;
          animation-delay: 1.1s !important;
  opacity: 0;
}

@keyframes fadein_top {
  0% {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/*# sourceMappingURL=musinsa4.css.map */
